#header {
    min-height: 50px;
    color: aliceblue;
    background-color: blueviolet;
}

div.breadcrumbs {
    background-color: rgb(66, 43, 13);
}

div.breadcrumbs a {
    color: #a10a0a;
}
.module caption {
    background-color: blue;
}