{% extends "base.html" %}  <!-- Extend the base template -->
{% load static %}          <!-- Load static files -->

{% block title %}New Post{% endblock title %}  <!-- Set the title -->

{% block header_image %}
<h1 class="text-center">New Post</h1>
{% endblock header_image %}

{% block content %}
    
    <div class="container p-4 border rounded bg-light text-dark mx-auto text-center" style="max-width: 600px;">
        <form action="{%url 'posts:new-post'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Display form errors -->
            {% if form.errors %}
                <div class="alert alert-danger text-center">
                    <ul class="list-unstyled">
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="mb-3 text-center">
                <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
                <div class="col-sm-6 mx-auto">
                    {{ form.title }}
                </div>
            </div>

            <div class="mb-3 text-center">
                <label for="{{ form.body.id_for_label }}" class="form-label">Body</label>
                <div class="col-sm-6 mx-auto">
                    {{ form.body }}
                </div>
            </div>

            <div class="mb-3 text-center">
                <label for="{{ form.slug.id_for_label }}" class="form-label">Slug</label>
                <div class="col-sm-6 mx-auto">
                    {{ form.slug }}
                </div>
            </div>

            <div class="mb-3 text-center">
                <label for="{{ form.banner.id_for_label }}" class="form-label">Banner</label>
                <div class="col-sm-6 mx-auto">
                    {{ form.banner }}
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-secondary">Add Post</button>
            </div>

        </form>
    </div>
{% endblock content %}
