{% extends "base.html" %}  <!-- Extend the base template -->
{% load static %}          <!-- Load static files -->

{% block title %}Register a New User{% endblock title %}  <!-- Set the title -->

{% block header_image %}
    <img src="{% static 'assets/blog/register.png' %}" alt="Register" width="200px" class="register-image">  <!-- Add the image in the header_image block -->
{% endblock header_image %}

{% block content %}
    <h1>Register a New User</h1>
    <!-- Form posts to /users/register/ URL -->
    <form action="/users/register/" method="post">
        {% csrf_token %}  <!-- Security token -->
        {{form}}         <!-- Render all form fields -->
        <button class="btn btn-secondary mt-2">Submit</button>
    </form>
{% endblock content %}
