{% extends "base.html" %}  <!-- Extend the base template -->
{% load static %}          <!-- Load static files -->

{% block title %}Register a New User{% endblock title %}  <!-- Set the title -->

{% block header_image %}
    <img src="{% static 'assets/blog/register.png' %}" alt="Register" width="200px" class="register-image">  <!-- Add the image in the header_image block -->
{% endblock header_image %}

{% block content %}   <!-- Define content block -->
    <h1>Register a New User</h1>  <!-- Heading text -->
    <form action="/users/register/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors|join:", " }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary w-50">Register</button>
    </form>


{% endblock content %}
